*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

.svn
sample_data/
data/
wot-replay-parser
poc/dump.sh
poc/*.log
poc/*.log.*
server
*.suo
out.txt
poc/*.sh
poc/cleanup.py
poc/wot.db
uploader/Uploader/obj/Debug/
*.pfx
*.csproj.user
UpgradeLog*
_Upgrade*
Uploader/uploader/Publish/*
*.cache
*.pdb
*.FilesListAbsolute.txt
